<app-header-bar></app-header-bar>
<mat-card class="example-card">
  <mat-card-header class="main-div">
    <mat-card-title>Sign up
      <span class="material-icons">
        how_to_reg
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [hidden]="success" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label> First Name</mat-label>
          <input matInput placeholder=" First Name" formControlName="firstName">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>

      <div class="main-div">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder=" Email Address" formControlName="emailAddress">
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>
      <div class="main-div">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-icon matSuffix>password</mat-icon>
          <p *ngIf="password!.invalid && (password!.dirty || password!.touched)"> your password invalid</p>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" class="btn-login" [disabled]="!signUpForm.valid" type="submit">Create
          Account
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
  <mat-divider></mat-divider>
  <div class="main-div">
    <button mat-raised-button color="primary" type="submit" [routerLink]="['/sign-in']"> Login in
    </button>
  </div>

</mat-card>
