<mat-toolbar color="primary" class="mat-elevation-z10">
  <span>WishList
    <mat-icon>stars</mat-icon>
  </span>
  <div class="onRight"></div>
  <a [routerLink]="['/home']" routerLinkActive="active" mat-button>Home <mat-icon>home</mat-icon></a>
  <a [routerLink]="['/addItems']" routerLinkActive="active" mat-button>Add Item<mat-icon>add</mat-icon></a>
  <a [routerLink]="['/viewItems']" routerLinkActive="active" mat-button> View Items<mat-icon>menu_book</mat-icon></a>
  <a mat-raised-button (click)="onSignOut()">Sign Out<span class="material-icons">
      logout
    </span></a>
</mat-toolbar>
